.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.gallery_container {
  flex: 1;

  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: center;
}

.image_container {
  width: 200px;
  height: 200px;

  margin-right: 8px;
}

.image_container_img {
  height: 100%;
  object-fit: contain;

  border-radius: 8px;
}

.home-control-button {
  background: #e535ab;
  border: 1px solid #e535ab;

  width: 50px;
  height: 50px;
  font-size: 24px;
  border-radius: 20px;
}

.control-button {
  background: transparent;
  border: none;

  width: 50px;
  height: 50px;
  font-size: 24px;
}
